In [ ]:
import pandas as pd

In [ ]:
test_df=pd.read_csv("/content/drive/MyDrive/Colab_data/data_nlp/test_a.csv",sep='\t')
test_df['word'] = test_df['text'].apply(lambda x: len(x.split(' ')))

In [ ]:
train_df=pd.read_csv("/content/drive/MyDrive/Colab_data/data_nlp/train_set.csv",sep='\t')
train_df['word'] = train_df['text'].apply(lambda x: len(x.split(' ')))

In [ ]:
test_df.head()

                                                text  word
0  5399 3117 1070 4321 4568 2621 5466 3772 4516 2...   607
1  2491 4109 1757 7539 648 3695 3038 4490 23 7019...  1861
2  2673 5076 6835 2835 5948 5677 3247 4124 2465 5...   901
3  4562 4893 2210 4761 3659 1324 2595 5949 4583 2...  3786
4  4269 7134 2614 1724 4464 1324 3370 3370 2106 2...   316

In [ ]:
train_df.head()

   label                                               text  word
0      2  2967 6758 339 2021 1854 3731 4109 3792 4149 15...  1057
1     11  4464 486 6352 5619 2465 4802 1452 3137 5778 54...   486
2      3  7346 4068 5074 3747 5681 6093 1777 2226 7354 6...   764
3      2  7159 948 4866 2109 5520 2490 211 3956 5520 549...  1570
4      3  3646 3055 3055 2490 4659 6065 3370 5814 2465 5...   307