In [ ]:
import pandas as pd
import numpy as np

In [ ]:
train_df=pd.read_csv("/content/drive/MyDrive/Colab_data/data_cv/train.csv")
test_img=np.load("/content/drive/MyDrive/Colab_data/data_cv/test.npy")
train_img=np.load("/content/drive/MyDrive/Colab_data/data_cv/train.npy")

In [ ]:
train_df.head()

   left_eye_center_x  ...  mouth_center_bottom_lip_y
0          66.342364  ...                  85.361582
1          68.912604  ...                  79.574038
2          68.708994  ...                  86.221009
3          65.334176  ...                  74.883241
4          68.634857  ...                  84.394286

[5 rows x 8 columns]